<header>
  <div class="header">
    <div>
      <span class="header__logo">Sram</span> 
      <span class="header__copyright"> &copy;</span>
    </div>
    <div class="header__news">
      latest news:
      <span class="header__news--italic">Suspension theory continued...</span>
    </div>
    <div class="header__buttons buttons">
      <button class="buttons__item buttons__item--bordered">news</button>
      <button class="buttons__item buttons__item--bordered">rewards</button>
      <button class="buttons__item">
        <img src="../assets/images/person.svg" alt="person" class="buttons__img" />
      </button>
    </div>
  </div>
  <div class="navigation">
    <div class="buttons-container">
      <button class="navigation__btn">
        <span class="navigation__logo">sram</span>
        <span class="header__copyright">&copy;</span> 
        <span class="navigation__text"> stu</span>
      </button>
      <button class="navigation__btn">
        <span class="navigation__logo">sram</span>
        <span class="header__copyright">&copy;</span> 
        <span class="navigation__text"> mtb</span>
      </button>
      <button class="navigation__btn">
        <span class="navigation__logo">sram</span>
        <span class="header__copyright">&copy;</span> 
        <span class="navigation__text"> road</span>
      </button>
      <button class="navigation__btn navigation__btn--multiple">
        <div>
          <div class="logo">
            <span class="logo__rock">
              rock
            </span>
            <span class="logo__shox">
              shox
            </span>
        </div>
        </div>
        <span class="navigation__rock">rockshox</span>
      </button>
      <button class="navigation__btn">
        <span class="navigation__zipp">zipp</span>
        <span class="header__copyright">&copy;</span> 
      </button>
      <button class="navigation__btn navigation__btn--active">
        <span class="navigation__quarq">quarq</span>
        <span class="header__copyright">&copy;</span> 
      </button>
    </div>
    <button class="navigation__btn navigation__btn--noborder">
      <img src="../assets/images/search.svg" alt="search" class="navigation__img"/>
    </button>
  </div>
</header>
