<header class="header">
  <div>
    <span class="header__logo">Sram</span> 
    <span class="header__copyright"> &copy;</span>
  </div>
  <div class="header__news">
    latest news:
    <span class="header__news--italic">Suspension theory continued...</span>
  </div>
  <div class="header__buttons buttons">
    <button class="buttons__item">news</button>
    <button class="buttons__item">rewards</button>
    <button class="buttons__item">
      <img src="../assets/images/person.svg" alt="cheese" class="buttons__img" />
    </button>
  </div>
</header>